*{
    margin: 0;
    padding: 0;
}

.dark-theme {
    /* styles for dark theme */
    background-color: #333;
    color: white;
}

.light-theme {
    /* styles for light theme */
    background-color: white;
    color: black;
}

.dark-theme .search-input{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(128, 128, 128, 0.336);
}

.dark-theme .search-input h1{
    margin-left: 20px;
}

.dark-theme .search-input input{
    border: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.267);
    height: 25px ;
    padding: 5px;
    border-radius: 20px;
    margin-right: 20px;
    text-align: center;
    font-size: 15px;
    color: white;
    transition: ease 0.3s;
    background: #333;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.267);
}

.dark-theme .search-input button{
    padding: 10px;
    border-radius: 20px;
    margin-right: 20px;
    text-align: center;
    font-size: 15px;
    background: #333;
    color: white;
    transition: ease 0.3s;
    cursor: pointer;
    border: 2px solid white;
}

.dark-theme .search-input button:hover{
    transform: scale(1.05);
    background: white;
    color: black;
    border: 2px solid black;
}

.dark-theme input:focus{
    transform: scale(1.05);
}

.dark-theme .main_container{
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;
    padding: 3rem 0;
    justify-content: center;
    background: rgba(0, 0, 0, 0.062);
}

.dark-theme .card{
    background: #333;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.267);
    min-width: 20rem;
    min-height: 20rem;
    padding: 1rem;
    border-radius: calc(1rem + 2px);
    transition: all 0.3s linear;

    &:hover{
        transform: translateY(-0.5rem);
        box-shadow: 0.5rem 0.5rem 15px rgba(0, 0, 0, 0.233);
    }
}

img{
    max-width: 100%;
    width: 22rem;
    height: auto;
    border-radius: 1rem;
}

.username{
    padding-top:1rem ;
}

.dark-theme hr{
    height: 0rem;
    border: 0.05rem solid white;
}

.dark-theme .card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0 0 0;
}

.dark-theme .card-footer img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 0.2rem solid black;
}

.dark-theme .main_container .card-footer a{
    background: black;
    padding: 10px;
    border-radius: 20px;
    margin-right: 20px;
    text-align: center;
    font-size: 15px;
    color: white;
    transition: ease 0.3s;
    cursor: pointer;
    border: 2px solid white;
    text-decoration: none;
}

.dark-theme .card-footer a:hover{
    transform: scale(1.05);
    background: white;
    color: black;
    border: 2px solid black;

}

.dark-theme .empty-msg{
    width: 100%;
    text-align: center;
    font-size: 2rem;
}