*{
    margin: 0;
    padding: 0;
}

:root{
    --bg-main:#ECF2FF;
    --bg-primary:#18122B;
}

.dark-theme {
    /* styles for dark theme */
    background-color: #333;
    color: white;
}

.light-theme {
    /* styles for light theme */
    background-color: white;
    color: black;
}


.light-theme .search-input{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(128, 128, 128, 0.336);
}

.light-theme .search-input h1{
    margin-left: 20px;
}

.light-theme .search-input .form input{
    border: 0px;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.267);
    height: 25px ;
    padding: 5px;
    border-radius: 20px;
    margin-right: 20px;
    text-align: center;
    font-size: 15px;
    color: black;
    transition: ease 0.3s;
    background: white;
}

.light-theme .search-input .form button{
    padding: 10px;
    border-radius: 20px;
    margin-right: 20px;
    text-align: center;
    font-size: 15px;
    color: black;
    background:white;
    transition: ease 0.3s;
    cursor: pointer;
}

.light-theme .search-input button:hover{
    transform: scale(1.05);
    background: black;
    color: white;
}

.light-theme input:focus{
    transform: scale(1.05);
}

.light-theme .main_container{
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;
    padding: 3rem 0;
    justify-content: center;
    background: rgba(0, 0, 0, 0.062);
}

.light-theme .main_container .card{
    background: white;
    border: 2px solid black;
    min-width: 20rem;
    min-height: 20rem;
    padding: 1rem;
    border-radius: calc(1rem + 2px);
    transition: all 0.3s linear;
    box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.438);

    &:hover{
        transform: translateY(-0.5rem);
        box-shadow: 0.5rem 0.5rem 15px rgba(128, 128, 128, 0.233);
    }
}

img{
    max-width: 100%;
    width: 22rem;
    height: auto;
    border-radius: 1rem;
}

.username{
    padding-top:1rem ;
}

.light-theme hr{
    height: 0.01rem;
    width: 0.1rem solid black;
}

.light-theme .card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0 0 0;
}

.light-theme .card-footer img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 0.2rem solid black;
}

.light-theme .main_container .card .card-footer a{
    padding: 10px;
    border-radius: 20px;
    margin-right: 20px;
    text-align: center;
    font-size: 15px;
    color: black;
    background:white;
    transition: ease 0.3s;
    cursor: pointer;
    border: 2px solid black;
    text-decoration: none;
}

.light-theme .main_container .card  .card-footer a:hover{
    transform: scale(1.05);
    background: black;
    color: white;
}

.light-theme .empty-msg{
    width: 100%;
    text-align: center;
    font-size: 2rem;
}

.toggle-btn{
    height: 5rem;
    display: flex;
    align-items: center;
    /* justify-content: center`; */
}

#checkbox{
}

.toggle-label{
    width: 6rem;
    height: 4rem;
    background-color: var(--bg-primary);
    display: inline-block;
    position: relative;
    border-radius: 10rem;
}

.toggle-ball{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--bg-main);
    display: inline-block;
    position: absolute;
    top: .5rem;
    left: .5rem;
}

#checkbox:checked + .toggle-label .toggle-ball{
    background-color: #5FC3E4;
}